body {
    font-family: "Arial", sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 15px;
    color: #222;
}

#board {
    width: 90vw;
    max-width: 350px;
    margin: auto;
}

#secret-room {
    background-color: #004225;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: none;
}

#secret-room input[type="text"] {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}